<% provide(:title, 'Cadastro') %>
<h1>Cadastro</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone, "Telefone" %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :password, 'Senha' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmação de senha" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>