<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contact) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nome, "Nome" %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone, "Telefone" %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :address, 'Endereço' %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.submit nil, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>