<% provide(:title, 'Contatos') %>
<h2><%= t('activerecord.models.contact.title') %></h2>


<%= link_to t('actions.new'), new_contact_path, class: 'btn btn-default' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.contact.nome') %></th>
        <th><%= t('activerecord.attributes.contact.phone') %></th>
        <th><%= t('activerecord.attributes.contact.email') %></th>
        <th><%= t('activerecord.attributes.contact.address') %></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.nome %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td><%= contact.address.length > 80 ? contact.address[0, 80].concat('...') : contact.address %></td>

          <td class="last">
            <%= link_to(edit_contact_path(contact), class: "btn btn-warning") do %>
              <i class="fa fa-edit"></i> <%= t('actions.edit') %>
            <% end %>
            <%= link_to(contact_path(contact), class: "btn btn-danger contact-delete", method: :delete, remote: true, data: { confirm: 'Tem certeza que deseja apagar?' }) do %>
              <i class="fa fa-remove"></i> <%= t('actions.delete') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div>
  <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
</div>
