<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if I18n.locale == :pt %>
          <li><%= link_to image_tag('us.png'), params.merge(:locale => 'en')  %></li>
        <% else %>
          <li><%= link_to image_tag('br.png'), params.merge(:locale => 'pt')  %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('header.home'), root_path %></li>
        <% if logged_in? %>
          <li><%= link_to t('header.contacts'), contacts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('header.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('header.profile'), current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('actions.logout'), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('actions.login'), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
